<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>

  <tbody>
    <div class="question_list">
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.user.name %></td>
          <td><%= question.created_at %></td>
          <td><%= question.content %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Add Answer', new_question_answer_path(question) %></td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, id: "new_question_link", remote: true %>
